#first-paragraph {
    color: DarkTurquoise;
    opacity: 0.5;
}

#second-paragraph {
    color: rgb(0, 206, 209, 0.5);
}

#third-paragraph {
    color: #00ced1;
}

.main {
    opacity: 0.5; 
}


.first {
    background-color: aliceblue;
}

.second {
    background-color: hotpink;
}

.third {
    background-color: seagreen;
}

.fourth {
    background-color:steelblue;
}