<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Layout</title>
</head>

<body>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta adipisci ratione quas natus! Non dignissimos ipsam laborum facere recusandae, quod minima optio soluta debitis numquam voluptatem nobis, nesciunt iste deserunt? 
        </p>
            <img src="iphone.jpg" alt="" class="first-img" >
            <img src="lg g6.jpg" alt=""  class="second-img">
            <img src="s8.jpg" alt="" class="third-img">
        <p> Voluptatibus assumenda soluta enim reprehenderit quis pariatur deserunt odit cumque. Dolorum qui ratione
            pariatur earum, odit voluptas obcaecati et, eius porro saepe a magni ea. Iure error fuga sapiente
            voluptates?
            Dolorum optio impedit itaque. Vel libero provident fugiat obcaecati sapiente veritatis nobis ab ullam
            quibusdam iusto! Et aspernatur quis doloremque vel quaerat cumque minima, odit, id minus illum neque
            molestiae.
            A possimus doloribus pariatur eligendi cumque nemo doloremque! Error perferendis totam enim suscipit est,
            aliquam possimus nulla, nihil officiis perspiciatis consequatur modi fugiat nisi expedita repellat
            architecto fugit quos consectetur.
        </p>
        <p> Numquam nostrum rem, magnam reprehenderit natus adipisci. Praesentium quibusdam, reiciendis eum dolorum
            atque veniam esse libero nobis in dolorem, laboriosam, necessitatibus amet consectetur fugiat! Totam
            consequuntur ratione reiciendis aliquid excepturi.
            Corrupti ipsam saepe necessitatibus nam, at nostrum doloribus voluptatem, nisi laudantium nihil culpa?
            Similique dolore voluptate iusto voluptatibus, excepturi recusandae rerum voluptatum! Blanditiis suscipit
            explicabo consectetur dignissimos quos dolorum corrupti?
            Cum, enim laborum alias saepe delectus numquam eaque ex necessitatibus neque reiciendis vitae ducimus,
            asperiores quo in, placeat suscipit non debitis! Repudiandae, provident. Nulla atque suscipit omnis dolores.
            Accusamus, quibusdam.
            Facere, blanditiis necessitatibus quo sunt nostrum commodi? Quos dolorum illo omnis maxime error voluptate
            quia, voluptatum beatae, recusandae laudantium, enim porro? Ea pariatur qui itaque impedit voluptatum
            praesentium repudiandae accusantium?
            Voluptatibus assumenda soluta enim reprehenderit quis pariatur deserunt odit cumque. Dolorum qui ratione
            pariatur earum, odit voluptas obcaecati et, eius porro saepe a magni ea. Iure error fuga sapiente
            voluptates?
            Dolorum optio impedit itaque. Vel libero provident fugiat obcaecati sapiente veritatis nobis ab ullam
            quibusdam iusto! Et aspernatur quis doloremque vel quaerat cumque minima, odit, id minus illum neque
            molestiae.
            A possimus doloribus pariatur eligendi cumque nemo doloremque! Error perferendis totam enim suscipit est,
            aliquam possimus nulla, nihil officiis perspiciatis consequatur modi fugiat nisi expedita repellat
            architecto fugit quos consectetur.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo velit blanditiis sit quas ullam minus
            maiores? Sunt atque, nulla corporis asperiores quasi ipsam vitae, suscipit, nesciunt dolorem aspernatur
            quam.
            Numquam nostrum rem, magnam reprehenderit natus adipisci. Praesentium quibusdam, reiciendis eum dolorum
            atque veniam esse libero nobis in dolorem, laboriosam, necessitatibus amet consectetur fugiat! Totam
            consequuntur ratione reiciendis aliquid excepturi.
            Corrupti ipsam saepe necessitatibus nam, at nostrum doloribus voluptatem, nisi laudantium nihil culpa?
            Similique dolore voluptate iusto voluptatibus, excepturi recusandae rerum voluptatum! Blanditiis suscipit
            explicabo consectetur dignissimos quos dolorum corrupti?
            Cum, enim laborum alias saepe delectus numquam eaque ex necessitatibus neque reiciendis vitae ducimus,
            asperiores quo in, placeat suscipit non debitis! Repudiandae, provident. Nulla atque suscipit omnis dolores.
            Accusamus, quibusdam.
            Facere, blanditiis necessitatibus quo sunt nostrum commodi? Quos dolorum illo omnis maxime error voluptate
            quia, voluptatum beatae, recusandae laudantium, enim porro? Ea pariatur qui itaque impedit voluptatum
            praesentium repudiandae accusantium?
            Voluptatibus assumenda soluta enim reprehenderit quis pariatur deserunt odit cumque. Dolorum qui ratione
            pariatur earum, odit voluptas obcaecati et, eius porro saepe a magni ea. Iure error fuga sapiente
            voluptates?
            Dolorum optio impedit itaque. Vel libero provident fugiat obcaecati sapiente veritatis nobis ab ullam
            quibusdam iusto! Et aspernatur quis doloremque vel quaerat cumque minima, odit, id minus illum neque
            molestiae.
            A possimus doloribus pariatur eligendi cumque nemo doloremque! Error perferendis totam enim suscipit est,
            aliquam possimus nulla, nihil officiis perspiciatis consequatur modi fugiat nisi expedita repellat
            architecto fugit quos consectetur.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id explicabo velit blanditiis sit quas ullam minus
            maiores? Sunt atque, nulla corporis asperiores quasi ipsam vitae, suscipit, nesciunt dolorem aspernatur
            quam.
            Numquam nostrum rem, magnam reprehenderit natus adipisci. Praesentium quibusdam, reiciendis eum dolorum
            atque veniam esse libero nobis in dolorem, laboriosam, necessitatibus amet consectetur fugiat! Totam
            consequuntur ratione reiciendis aliquid excepturi.
            Corrupti ipsam saepe necessitatibus nam, at nostrum doloribus voluptatem, nisi laudantium nihil culpa?
            Similique dolore voluptate iusto voluptatibus, excepturi recusandae rerum voluptatum! Blanditiis suscipit
            explicabo consectetur dignissimos quos dolorum corrupti?
            Cum, enim laborum alias saepe delectus numquam eaque ex necessitatibus neque reiciendis vitae ducimus,
            asperiores quo in, placeat suscipit non debitis! Repudiandae, provident. Nulla atque suscipit omnis dolores.
            Accusamus, quibusdam.
            Facere, blanditiis necessitatibus quo sunt nostrum commodi? Quos dolorum illo omnis maxime error voluptate
            quia, voluptatum beatae, recusandae laudantium, enim porro? Ea pariatur qui itaque impedit voluptatum
            praesentium repudiandae accusantium?
            Voluptatibus assumenda soluta enim reprehenderit quis pariatur deserunt odit cumque. Dolorum qui ratione
            pariatur earum, odit voluptas obcaecati et, eius porro saepe a magni ea. Iure error fuga sapiente
            voluptates?
            Dolorum optio impedit itaque. Vel libero provident fugiat obcaecati sapiente veritatis nobis ab ullam
            quibusdam iusto! Et aspernatur quis doloremque vel quaerat cumque minima, odit, id minus illum neque
            molestiae.
            A possimus doloribus pariatur eligendi cumque nemo doloremque! Error perferendis totam enim suscipit est,
            aliquam possimus nulla, nihil officiis perspiciatis consequatur modi fugiat nisi expedita repellat
            architecto fugit quos consectetur.
        </p>



</body>

</html>