<!DOCTYPE html>
<html lang="sr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z - index / task 1</title>
    <link rel="stylesheet" href="taskz.css">
</head>

<body>
    <div class="task1">
        <div class="first1"></div>
        <div class="first2"></div>
        <div class="first3"></div>
    </div>
    <hr>
    <div class="task2">
        <div class="second1">
            <div class="second2">
                <div class="second3"></div>
            </div>
        </div>
    </div>
    <hr>
    <div class="task3">
        <div class="third1"></div>
        <div class="third2"></div>
        <div class="third3"></div>
    </div>
</body>

</html>